.form-control::placeholder { color: white;} /* Chrome, Firefox, Opera*/
:-ms-input-placeholder.form-control { color: white; }  /* Internet Explorer*/
.form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge*/
/*!!!!!!! homw page css*/
.home{
  background: linear-gradient(
  180deg
  , rgba(34,46,64,1) 0%, rgba(81,195,184,1) 100%);
     height: 100vh;
     width: 100%;
     /* border: 2px solid red; */
     display: flex;
     flex-direction: column;
     
}
.homewhite{
  height: 100%;
  word-wrap: break-word;
  margin: 50px;
  padding: 20px;
  text-align: center;
}
.homehero{
  width: 100%;
}
.homecontent{
  text-align: center;
  text-decoration: dashed;
  height: 20%;
  border: 2px solid black;
}
.homemid{
  text-align: center;
font-family: arial;
}
.upperpart{
  /* border: 2px solid yellow; */
  width: 90vw;
  height: 30vh;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
}
.downpart{
  /* border: 2px solid white; */
  width: 90vw;
  height: 70vh;
  margin-left: 40px;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
}
.image1{
  /* border: 2px solid purple; */
  height: 30%;
  width: 25%;
  margin: 10px;
}
.linkshome{
  /* border: 2px solid black; */
  height: 100%;
  width: 70%;
  /* margin-left: 490px; */
  display: flex;
  justify-content: space-between;
  
  
}
.slidwrapo{
  height: 100%;
  width: 50%;
  /* border: 2px solid rgb(184, 43, 43); */
}
.image2{
  height: 100%;
  width: 50%;
  /* border: 2px solid rgb(35, 228, 60); */
}

.cr{
  height: 300px;
  /* border: 2px solid rgb(184, 43, 43); */
}
.crimg{
  margin-left:75px;
  margin-top:90px;
  height: 160px;
  width:72%;
  /* border: 2px solid rgb(184, 43, 43); */

}
.img-responsive{
  height: 100%;
width: 100%;
/* border: 2px solid navy; */
}
.l1{
  width: 50%;
  margin-left: 200px;
  display: flex;
  justify-content: space-between;
  font-family: Nunito;
  text-transform: uppercase;
  letter-spacing: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 900;
  padding-left: 20px;
    padding-right: 20px;
    opacity: 0.75;
     margin-top: 40px; 
    /* margin-right: 20px;  */
    z-index: 10;
    color: white;
    /* border: 2px solid #fff; */
}
.threeimages{
  display: flex;
  flex-direction: row;
justify-content: space-between;
margin: 30px;
align-items: center;
}
.home1{
  /* border: 2px solid black; */
    width: 250px;
    height: 220px;
}
.findmento{
  width: 130px;
    height: 170px;
    margin: 5px;
}
.home2{
  /* border: 2px solid black; */
    width: 250px;
    height: 220px;
}
.home3{
  /* border: 2px solid black; */
    width: 250px;
    height: 220px;
}

  /********** !!!!!sign in page css*/
  .signinpage{
    background: linear-gradient(
    180deg
    , rgba(34,46,64,1) 0%, rgba(81,195,184,1) 100%);
  width: 100%;
  height: 100%;
  color: white !important;
  display: flex;
  flex-direction: row;
  /* border: 2px solid yellow; */
  }
  .logopagesignin{
    width: 50vw;
    height: 100%;
    /* border:2px solid red; */
  }
  .signimg33{
    margin-bottom:20px;
    margin-left:20px;
    margin-top:85px;
    width: 40vw;
    height: 40vw;
    /* border:2px solid red; */

  }
  .signlogo{
    width: 30vw;
    height: 5vw;
    margin: 20px;
        /* border:2px solid red; */

  }
  .img-responsive1{
    margin:5px;
    width: 22vw;
    height: 4.3vw;
  /* border: 2px solid navy; */
  }
  .labell{
    margin-top: 10px;
  }
  .inputmails{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vw;
    border: 2px solid white;
    color: white !important;
    /* margin: 5px; */

  }
  .psslbl{
    margin-top: 20px;

  }
  .input{
    background: linear-gradient(
    180deg
    , rgba(34,46,64,1) 0%, rgba(81,195,184,1) 100%);
    outline: none;
    width: 40vw;
    height: 50px;
    margin-top: 5px;
    border-top: none;
    color:ghostwhite !important;
  }
  .inputboth{
    margin-top: 60px;
    margin-left: 100px;
    /* border: 2px solid red; */
  }
  .formBasicPassword{
    color: white;
  }
  .forgetlink{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    width: 150px;
    
  }
  .forgotindex{
    color: white;
  }
  /* !!!!dashboard page css */
  .dashboard{
    background-image: url("../src/images/whitecity2.png");
    /* background: linear-gradient(
      180deg
      , rgba(34,46,64,1) 0%, rgba(81,195,184,1) 100%); */
      width: 100%;
      height: 500px;
      background-repeat: no-repeat;
      
     
  }
  .navbar{
    width: 100vw;
    
  }
  /*!!!!! mentor divs css  */
  .m1{
    border: 2px solid white;
    width: 200px;
    height: 150px;
  }
  .m2{
    border: 2px solid white;
    width: 200px;
    height: 150px;
  }
  .m3{
    border: 2px solid white;
    width: 200px;
    height: 150px;
  }
  .searchForm{
    display: flex;
    flex-direction: row;
    }
    .subheader{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .accountType{
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .accB2{
      margin-left: 10px;
    }
    .mystyle{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 55px;
      width:240px;
      border:0;
      margin-right: 2px;
/* background-color: darkgreen; */
    }
    .alerIn{
      height: 100%;
      width:100%;
      /* background-color:forestgreen  ; */
       color: white;
    }